# Git
.git
.github

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Cache
.pytest_cache/
.mypy_cache/

# Notebook
notebooks/
.ipynb_checkpoints/

# Tests
tests/

# Reports & Data
reports/
dataset/
dataset_clean/
dataset_split/

# Environment & Secrets
.env
.streamlit/secrets.toml

# Logs
*.log

# macOS
.DS_Store