# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Env
.venv/
venv/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Environment
.env

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Logs
*.log

# Dataset
dataset/
dataset_clean/
dataset_split/

# Packaging
*.egg-info/